* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  border: 2px solid #ccc;
  padding: 0 10px;
}

main {
  overflow:auto;
  padding: 10px 0;
}

aside {
  border: 2px solid #ff0000;
  background-color: #00ddff;
  float: left;
  padding: 0 10px;
  width: 34%;
  height: 290px;
}

section {
  border: 2px solid #fb0000;
  float: right;
  padding: 0 10px;
  margin-bottom: 10px;
  width: 64%;
  height: 140px;
  background-color: #ff0099;
}

footer {
  clear: both;
  border: 2px solid #ccc;
  padding: 0 10px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 10px;
}