* {
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
}
header,
main,
footer {
  background-color: #eee;
  border: 2px solid #ccc;
  padding: 1rem;
  margin: 1rem;
}
main{
    overflow:auto;
}
aside {
  background-color: #fd1616;
  padding: 1rem;
  float: left;
  width: 30%;
  height: 290px;
  top: 0px
}
section {
  background-color: #a259eb;
  padding: 1rem;
  float: right;
  width: 70%;
  height: 145px;
}
footer {
  clear: both;
}
nav ul {
  list-style: none;
  padding: 0;
}
nav li {
  display: inline;
  margin-right: 1rem;
}